<form name="mainPitches">
<h2>Add a pitch near you</h2>
<label>Enter location <i class="fa fa-map-marker" aria-hidden="true"></i>
	<input type="text" name="" placeholder="enter location" />
</label>
<label>Enter Name
	<input type="text" name="" placeholder="enter name" />
</label>
<label>Enter adress
	<input type="text" name="" placeholder="enter adress" />
</label>
<label>Description
	<input type="text" name="" placeholder="enter description" />
</label>
<div>[GOOGLE MAP GOES HERE]</div>
</form>
