<form name="game">
	<h2>Create a game</h2>
	<label>Title
		<input type="text" name="" />
	</label>

	<label>Description
		<input type="text" name="" />
	</label>

	<label>Starts at - date and time
		<input type="text" name="" />
	</label>

	<label>Finishes at date and time
		<input type="text" name="" />
	</label>

	<label>Venue (auto search)
		<input type="text" name="" />
		Can't find it? Add it
	</label>

	<label>Private game
		<input type="checkbox" name="" />
	</label>

	<label>Payment method
		Online <input type="radio" name="payment" value="Online" />
		Cash <input type="radio" name="payment" value="Cash" />
		Free<input type="radio" name="payment" value="Free" />
	</label>

	<label>Team player limit
		<select>
			<option>5 - aside</option>
			<option>7 - aside</option>
			<option>8 - aside</option>
			<option>9 - aside</option>
			<option>10 - aside</option>
			<option>11 - aside</option>
		</select> 
	</label>

	<label>Price per player 
		<input type="number" name="" /> EUR
	</label>

	<label>Refund if game cancelled  
		<input type="number" name="" /> EUR
	</label>

	<input type="submit" name="" value="Create game" />

</form>

