<game-notifications notifications="{{game.notification}}"></game-notifications>
<form ng-submit="game.handleSubmit()">
	<h2>Create a game <i class="fa fa-futbol-o" aria-hidden="true"></i></h2>
	<label>Title
		<input placeholder="e.g friendly game" autofocus type="text" name="" ng-model="game.newgame.title" />
	</label>
	<label>Description
		<input type="text" placeholder="e.g playing for 2 hours..." name="" ng-model="game.newgame.description" />
	</label>
	<label>Starts at - date and time
		<input type="text" placeholder="e.g 20/6/2016" name="" ng-model="game.newgame.startdate" />
	</label>
	<label>Finishes at date and time
		<input type="text" placeholder="e.g 20/6/2016" name="" ng-model="game.newgame.enddate" />
	</label>
	<label>Pitch (auto search) <i class="fa fa-map-marker" aria-hidden="true"></i>
		<input type="text" name="" placeholder="e.g Nuevo Campo" ng-model="game.newgame.venue" />
		Cannot be found? <a href="#/view7">Add it</a>
	</label>
	<label>Private game
		<input type="checkbox" name="" ng-model="game.newgame.privategame" /> <i class="fa fa-lock" aria-hidden="true"></i>
	</label>
	<label>Payment method<br /><br />
		Online <input type="radio" name="payment" value="Online" />
		Cash <input type="radio" name="payment" value="Cash" />
		Free <input type="radio" name="payment" value="Free" />
	</label>
	<label>Team player limit
		<select>
			<option>5 - aside</option>
			<option>7 - aside</option>
			<option>8 - aside</option>
			<option>9 - aside</option>
			<option>10 - aside</option>
			<option>11 - aside</option>
		</select> 
	</label>
	<label>Price per player 
		<input type="number" placeholder="e.g 10 EUR" name="" ng-model="game.newgame.priceperplayer" /> 
	</label>
	<label>Currency
	<select>
		<option>EUR &euro;</option>
		<option>GBP &pound;</option>
		<option>USD &#x24;</option>
	</select>
	</label>
	<label>Refund if game cancelled  
		<input type="number" name="" placeholder="e.g 50 EUR" ng-model="game.newgame.refund" />
	</label>
	<input type="submit" name="" value="Create game" />
</form>

