<div class="gameview">
	<p>GAME IS OPEN <i class="fa fa-circle green" aria-hidden="true"></i></p>
	<p>Oi Pextaraes friendly game</p>
	<p>When and where <i class="fa fa-clock-o" aria-hidden="true"></i> <i class="fa fa-map-marker" aria-hidden="true"></i></p>
	<ul>
		<li>Wednesday 25/8/2016</li>
		<li>6pm</li>
		<li>Location <span>[google map goes here]</span></li>
	</ul>
	<p>Payment method: Cash</p>
	<p>Game admin: Alex Key (click to view profile)</p>
</div>

<div class="gameviewdetails">
	<p>Joining?</p>
	<button type="button">Join in</button>

	<p>Players: <span class="orange">8/10</span> | 2 spots left</p>

	<div class="floatleft red">
		<p>No colour team</p>
		<ul>
			<li>Alex key</li>
			<li>Alex key guest</li>
			<li>Alex key guest</li>
			<li>Christos Skouroumounis</li>
			<li>Marios key</li>
		</ul>
	</div>

<div class="floatleft green">
	<p>Green tiers</p>
	<ul>
		<li>Alexandr Nikolovsky</li>
		<li>Vladimir Putin</li>
		<li>Nicolas Cage</li>
		<li>Empty spot</li>
		<li>Empty spot</li>
	</ul>
</div>

</div>

<div class="comments">
	
	<p>comments</p>

	<textarea>

	</textarea>
	<input type="submit" name="" value="send" />

</div>

<div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.5044531943167!2d33.34116161510951!3d35.14403798032305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14de1a215477c475%3A0xca7690acc6cdd49c!2zzpTOt868zr_PhM65zrrPjCDOmM6tzrHPhM-Bzr8gzqPPhM-Bzr_Oss-MzrvOv8-F!5e0!3m2!1sen!2suk!4v1467281171598" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
