<div class="gameview">
	<p>GAME IS OPEN <i class="fa fa-circle green" aria-hidden="true"></i></p>
	<p>Oi Pextaraes friendly game</p>
	<p>When and where <i class="fa fa-clock-o" aria-hidden="true"></i> <i class="fa fa-map-marker" aria-hidden="true"></i></p>
	<ul>
		<li>Wednesday 25/8/2016</li>
		<li>6pm</li>
		<li>Location <span>[google map goes here]</span></li>
	</ul>
	<p>Payment method: Cash</p>
	<p>Game admin: Alex Key (click to view profile)</p>
</div>

<div class="gameviewdetails">
	<p>Joining?</p>
	<button type="button">Join in</button>

	<p>Players: <span class="orange">8/10</span> | 2 spots left</p>

	<div class="floatleft red">
		<p>No colour team</p>
		<ul>
			<li>Alex key</li>
			<li>Alex key guest</li>
			<li>Alex key guest</li>
			<li>Christos Skouroumounis</li>
			<li>Marios key</li>
		</ul>
	</div>

<div class="floatleft green">
	<p>Green tiers</p>
	<ul>
		<li>Alexandr Nikolovsky</li>
		<li>Vladimir Putin</li>
		<li>Nicolas Cage</li>
		<li>Empty spot</li>
		<li>Empty spot</li>
	</ul>
</div>

</div>

<div class="comments">
	
	<p>comments</p>

	<textarea>

	</textarea>
	<input type="submit" name="" value="send" />

</div>

<div>
	[GOOGLE MAP VIEW GOES HERE - ON THE SIDE]
</div>
