<section class="pitch container center">

<div class="pitches" ng-model="pitches">

	<h1>{{pitches[whichpitch].name}}</h1>

	<div class="info">
		<p>{{pitches[whichpitch].Title}}</p>
		
		<img ng-src="{{pitches[whichpitch].img}}" height="120" width="180" />
		
		<p>Level: {{pitches[whichpitch].Level}}</p>

		<p ng-repeat="ing in pitches[whichpitch].Ingredients">
			<span>{{ing.num}} {{ing.name}}</span>
		</p>

		<p>{{pitches[whichpitch].Description}}</p> 
		
		<p>Healthiness: <strong>{{pitches[whichpitch].Healthiness}} <img class="heart_icon" src="img/heart.png" height="20" width="20" /></strong></p>

		<p ng-if="pitches[whichpitch].Vegan">*Suitable for Vegans!</p>

		<p ng-if="pitches[whichpitch].glutenFree">
			*Gluten Free <img class="GF_icon" src="img/GF.png" height="30" width="30"/>
		</p> 

		<p class="instructions">How to make: <br /> {{pitches[whichpitch].Instructions}}</p> 

	</div>

<br />
	
</div>

<a href="#/view2">&laquo; Back to List</a>
<br />
<a href="#/view1">&laquo; Back to Home Page</a>
</section>