<div name="userprofile">

<p>Create a game</p>
<p>Balance: £10 GBP</p>
<p>Based in Nicosia 2045</p>
<p>Upcoming game: Nuevo campo - starts in 2 days</p>

<form>
	
	<label>Change Name
		<input type="text" name="" />
	</label>

	<label>Change password
		<input type="text" name="" />
	</label>

	<label>Gender
		Male <input type="radio" name="gender" value="Male" />
		Female <input type="radio" name="gender" value="Female" />
	</label>

	<label>Change position
		Not set <input type="radio" name="position" value="Not set" />
		Goalkeeper <input type="radio" name="position" value="Goalkeeper" />
		Defender<input type="radio" name="position" value="Defender" />
		Midfielder <input type="radio" name="position" value="Midfielder" />
		Forward <input type="radio" name="position" value="Forward" />
	</label>

	<label>
		<input type="text" name="" />
	</label>

	<img src="profilepic" />[profile pic goes here]

</form>

</div>