<div name="userprofile">

<p>Create a game</p>
<p>Balance: £10 GBP</p>
<p>Based in Nicosia 2045</p>
<p>Upcoming game: Nuevo campo - starts in 2 days</p>

<form>
	
	<label>Change Name
		<input type="text" name="" />
	</label>

	<label>Change password
		<input type="text" name="" />
	</label>

	<label>Gender
		Male <input type="radio" name="" />
		Female <input type="radio" name="" />
		Prefer not to say<input type="radio" name="" />
	</label>

	<label>Change position
		Not set <input type="radio" name="" />
		Goalkeeper <input type="radio" name="" />
		Defender<input type="radio" name="" />
		Midfielder <input type="radio" name="" />
		Forward <input type="radio" name="" />
	</label>

	<label>
		<input type="text" name="" />
	</label>

	<img src="profilepic" />

</form>

</div>